:root { 
  --vc-bg: #fff;

  --color-scrollBarColor: 238, 238, 238; // #eee;
  --color-scrollBarThumbColor: 204, 204, 204; // #ccc;
  --color-scrollBarThumbHover: 158, 157, 157; // #9e9d9d;

  --color-primary: 255, 255, 255; // #fff;
  --color-secondary: 250, 251, 253; // #FAFBFD;
  --color-main-color: 63, 64, 242; // #3F40F2;
  --color-app-color: 55, 53, 47; // #37352f;
  --color-link-color: 63, 64, 242; // #3F40F2;
  --color-checkbox: 204, 204, 204; // #ccc;
  --color-canvas-color: 50, 50, 53; // #323235;
  --color-selection: 243, 245, 247; // #F3F5F7;
  --color-canvas: 255, 255, 255; // #fff;
  --color-sidebar: 245, 246, 244; // #F5F6F4;
  --color-hover: 243, 245, 247; // #F3F5F7;
  --color-book: 245, 246, 250; // #F5F6FA;
  --color-hover-book: 241, 243, 245; // #F1F3F5;
  --color-text-selection: 228, 242, 255; // #e4f2ff;
  --color-comment: 253, 255, 228; // #fdffe4;
  --color-project: 236, 237, 241; // #ECEDF1;
  --color-projectHover: 241, 241, 245; // #F1F1F5;

  --color-basic: 167, 244, 106; // #A7F46A;

  --color-brand: 63, 64, 242; // #3F40F2;
  --color-brand-new: 60, 66, 236; // #3C42EC;
  --color-brand-active: 8, 9, 170; // #0809AA;
  --color-brand-blue: 21, 87, 255; // #1557FF;

  --color-white: 255, 255, 255; // #FFF;
  --color-error: 255, 82, 82; // #FF5252;
  --color-backdrop: rgba(0, 0, 0, 0.5);
  --color-menu: rgba(0, 0, 0, .045);
  --color-light-backdrop: rgba(0, 0, 0, 0.3);
  --color-menu-hover: rgba(0, 0, 0, 0.04);
  --color-black: 0, 0, 0; // #000;
  --color-today: rgba(0, 0, 255, 0.02) ; // #0000ff05;
  
  --color-red-light: 255, 122, 122; // #ff7a7a;
  --color-red-seashell: 255, 243, 235; // #fff3eb;

  --color-event-purple: 129, 39, 253; // #8127FD;
  --color-event-orange: 243, 175, 0; // #F3AF00;
  --color-event-green: 14, 180, 118; // #0EB476;
  --color-event-pink: 255, 0, 90; // #FF005A;
  --color-event-blue: 0, 212, 201; // #00D4C9;

  --color-blue-main: 0, 93, 218; // #005DDA;
  --color-blue-5fe2ff: 95, 226, 255; // #5fe2ff;
  --color-blue-0099ff: 0, 153,  255; //  #0099ff;
  --color-blue-f1faff: 241, 250, 255; // #f1faff;

  --color-pink: 255, 20, 147; // #FF1493;

  --color-yellow: 250, 231, 163; // #FAE7A3;

  --color-dark-default: 0, 0, 0; // #000;
  --color-dark-100: 68, 68, 68; // #444;
  --color-dark-200: 17, 17, 17; // #111;
  --color-dark-300: 85, 85, 85; // #555;
  --color-dark-400: 47, 52, 55; // #2F3437;
  --color-dark-500: 51, 51, 51; // #333;
  --color-dark-600: 50, 50, 50; // #323232;
  --color-dark-700: 18, 19, 20; // #121314;
  --color-dark-800: 39, 41, 46; // #27292E;
  --color-dark-900: 16, 17, 28; // #10111c;
  --color-dark-1000: 34, 34, 34; // #222;
  --color-dark-1100: 110, 110, 110; // #6e6e6e;

  --color-grey-f6f6f6: 246, 246, 246; // #f6f6f6;
  --color-grey-e3e3e3: 227, 227, 227; // #e3e3e3;
  --color-grey-d7d7d7: 215, 215, 215; // #d7d7d7;
  --color-grey-f5f5f5: 245, 245, 245; // #f5f5f5;
  --color-grey-f7f7f7: 247, 247, 247; // #f7f7f7;
  --color-grey-d5d5d5: 213, 213, 213; // #D5D5D5;
  --color-grey-cfcfcf: 207, 207, 207; // #CFCFCF;
  --color-grey-f8f8ff: 248, 248, 255; // #F8F8FF;
  --color-grey-f3f5f7: 243, 245, 247; // #f3f5f7;
  --color-grey-main: 54, 73, 98; // #364962;
  --color-grey-light: 235, 238, 241; // #EBEEF1;
  --color-grey-10: 219, 227, 230; // #DBE3E6;
  --color-grey-11: 196, 196, 196; // #c4c4c4;
  --color-grey-20: 112, 123, 139; // #707B8B;
  --color-grey-50: 249, 249, 249; // #f9f9f9;
  --color-grey-110: 252, 252, 252; // #FCFCFC;
  --color-grey-150: 244, 244, 244; // #f4f4f4;
  --color-grey-200: 250, 250, 250; // #FAFAFA;
  --color-grey-250: 187, 187, 187; // #BBB;
  --color-grey-275: 170, 170, 170; // #aaa;
  --color-grey-300: 204, 204, 204; // #CCC;
  --color-grey-350: 225, 225, 225; // #e1e1e1;
  --color-grey-400: 242, 242, 242; // #F2F2F2;
  --color-grey-425: 241, 241, 241; // #F1F1F1;
  --color-grey-430: 241, 241, 248; // #F1F1F8;
  --color-grey-450: 248, 248, 248; // #F8F8F8;
  --color-grey-500: 238, 238, 238; // #EEE;
  --color-grey-550: 229, 229, 229; // #e5e5e5;
  --color-grey-575: 230, 230, 230; // #e6e6e6;
  --color-grey-580: 232, 232, 232; // #e8e8e8;
  --color-grey-675: 182, 182, 182; // #b6b6b6;
  --color-grey-700: 221, 221, 221; // #DDD;
  --color-grey-750: 214, 214, 214; // #D6D6D6;
  --color-grey-800: 228, 228, 228; // #E4E4E4;
  --color-grey-850: 234, 234, 234; // #EAEAEA;
  --color-grey-900: 106, 104, 128; // #6A6880;
  --color-grey-950: 153, 153, 153; // #999;
  --color-grey-975: 102, 102, 102; // #666;
  --color-grey-1000: 119, 119, 119; // #777;
  --color-grey-1050: 136, 136, 136; // #888;
  --color-grey-1111: 233, 233, 233; // #e9e9e9;
  --color-grey-1200: 99, 103, 108; // #63676C;
  --color-grey-1300: 112, 112, 112; // #707070;
  --color-grey-1400: 229, 231, 235; // #E5E7EB;
  --color-grey-1500: 226, 226, 226; // #e2e2e2;

  --color-green-main: 0, 217, 173; // #00d9ad;
  --color-green-20: 51, 255, 59; // #33FF3B;
  --color-green-10: 48, 226, 32; // #30E220;
  --color-green-500: 2, 217, 173; // #02d9ad;
  --color-green-800: 165, 250, 163; // #A5FAA3;
}

:root[class~="dark"] {
  --vc-bg: #333 !important;

  --color-scrollBarColor: 51, 51, 51; // #333;
  --color-scrollBarThumbColor: 0, 0, 0; // #000;
  --color-scrollBarThumbHover: 34, 34, 34; // #222;
   
  --color-primary: 32, 29, 37; // #201D25;
  --color-secondary: 39, 41, 46; // #27292E;
  --color-main-color: 127, 57, 251; // #7F39FB;
  --color-app-color: 234, 234, 234; // #EAEAEA;
  --color-link-color: 127, 57, 251; // #7F39FB;
  --color-checkbox: 127, 57, 251; // #7F39FB;
  --color-canvas-color: 234, 234, 234; // #EAEAEA;
  --color-selection: 127, 57, 251; // #7F39FB;
  --color-canvas: 32, 29, 37; // #201D25;
  --color-sidebar: 39, 41, 46; // #27292E;
  --color-hover: 18, 19, 20; // #121314;
  --color-book: 39, 41, 46; // #27292E;
  --color-hover-book: 18, 19, 20; // #121314;
  --color-text-selection: 35, 39, 73; // #7F39FB;
  --color-comment: 18, 19, 20; // #121314;
  --color-project: 18, 19, 20; // #121314;
  --color-projectHover: 27, 27, 30; // #1b1b1e;

  --color-backdrop: rgba(0, 0, 0, 0.5);
  --color-menu: rgba(0, 0, 0, .045);
  --color-light-backdrop: rgba(0, 0, 0, 0.3); // #0002;
  --color-menu-hover: rgba(0, 0, 0, 1); // #000);
  --color-today: rgba(0, 0, 255, 0.02) ; // #0000ff05;
   
  --color-red-light: 255, 122, 122; // #ff7a7a;
  --color-red-seashell: 255, 243, 235; // #fff3eb;

  --color-event-purple: 129, 39, 253; // #8127FD;
  --color-event-orange: 243, 175, 0; // #F3AF00;
  --color-event-green: 14, 180, 118; // #0EB476;
  --color-event-greenlight: 77, 225, 1; // #4DE101;
  --color-event-pink: 255, 0, 90; // #FF005A;
  --color-event-blue: 0, 212, 201; // #00D4C9;

  --color-blue-main: 0, 93, 218; // #005DDA;
  --color-blue-5fe2ff: 95, 226, 255; // #5fe2ff;
  --color-blue-0099ff: 0, 153,  255; //  #0099ff;
  --color-blue-f1faff: 241, 250, 255; // #f1faff;

  --color-pink: 255, 20, 147; // #FF1493;

  --color-yellow: 250, 231, 163; // #FAE7A3;

  --color-dark-default: 204, 204, 204; // #ccc;
  --color-dark-100: 204, 204, 204; // #ccc;
  --color-dark-200: 204, 204, 204; // #ccc;
  --color-dark-300: 204, 204, 204; // #ccc;
  --color-dark-400: 204, 204, 204; // #ccc;
  --color-dark-500: 204, 204, 204; // #ccc;
  --color-dark-600: 51, 51, 51; // #333;
  --color-dark-700: 204, 204, 204; // #ccc;
  --color-dark-800: 204, 204, 204; // #ccc;
  --color-dark-900: 204, 204, 204; // #ccc;
  --color-dark-1000: 204, 204, 204; // #ccc;
  --color-dark-1100: 204, 204, 204; // #ccc;

  --color-grey-f6f6f6: 51, 51, 51; // #333;
  --color-grey-e3e3e3: 39, 41, 46; // #27292E;
  --color-grey-d7d7d7: 51, 51, 51; // #d7d7d7;
  --color-grey-f5f5f5: 39, 41, 46; // #27292E;
  --color-grey-f7f7f7: 247, 247, 247; // #f7f7f7;
  --color-grey-d5d5d5: 213, 213, 213; // #D5D5D5;
  --color-grey-cfcfcf: 207, 207, 207; // #CFCFCF;
  --color-grey-f8f8ff: 248, 248, 255; // #F8F8FF;
  --color-grey-f3f5f7: 243, 245, 247; // #f3f5f7;
  --color-grey-main: 204, 204, 204; // #ccc;
  --color-grey-light: 235, 238, 241; // #EBEEF1;
  --color-grey-10: 219, 227, 230; // #DBE3E6;
  --color-grey-11: 196, 196, 196; // #c4c4c4;
  --color-grey-20: 112, 123, 139; // #707B8B;
  --color-grey-50: 39, 41, 46; // #27292E;
  --color-grey-110: 51, 51, 51; // #333;
  --color-grey-150: 51, 51, 51; // #333;
  --color-grey-200: 39, 41, 46; // #27292E;
  --color-grey-250: 187, 187, 187; // #BBB;
  --color-grey-275: 170, 170, 170; // #aaa;
  --color-grey-300: 204, 204, 204; // #CCC;
  --color-grey-350: 225, 225, 225; // #e1e1e1;
  --color-grey-400: 39, 41, 46; // #27292E;
  --color-grey-425: 32, 29, 37; // #201D25;
  --color-grey-430: 241, 241, 248; // #F1F1F8;
  --color-grey-450: 39, 41, 46; // #27292E;
  --color-grey-500: 51, 51, 51; // #333;
  --color-grey-550: 229, 229, 229; // #e5e5e5;
  --color-grey-575: 51, 51, 51; // #333;
  --color-grey-580: 51, 51, 51; // #333;
  --color-grey-675: 182, 182, 182; // #b6b6b6;
  --color-grey-700: 51, 51, 51; // #333;
  --color-grey-750: 214, 214, 214; // #D6D6D6;
  --color-grey-800: 51, 51, 51; // #333;
  --color-grey-850: 51, 51, 51; // #333;
  --color-grey-900: 106, 104, 128; // #6A6880;
  --color-grey-950: 153, 153, 153; // #999;
  --color-grey-975: 204, 204, 204; // #ccc;
  --color-grey-1000: 119, 119, 119; // #777;
  --color-grey-1050: 136, 136, 136; // #888;
  --color-grey-1111: 51, 51, 51; // #333;
  --color-grey-1200: 99, 103, 108; // #63676C;
  --color-grey-1300: 112, 112, 112; // #707070;
  --color-grey-1400: 229, 231, 235; // #E5E7EB;
  --color-grey-1500: 51, 51, 51; // #333;

  --color-green-main: 0, 217, 173; // #00d9ad;
  --color-green-20: 51, 255, 59; // #33FF3B;
  --color-green-10: 48, 226, 32; // #30E220;
  --color-green-500: 2, 217, 173; // #02d9ad;
  --color-green-800: 165, 250, 163; // #A5FAA3;
}
