@import "mobile-drag-drop/default.css";

:root {
  --editor-placeholder-text-color: #ccc !important;
  --editor-placeholder-text-color-comments-field: #aaa !important;
  --title-editor-placeholder-color: #ccc;
  --title-editor-placeholder: 'Task title' !important;
}

.editor {
  position: relative;

  &__floating-menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__content {
    .resize-cursor {
      cursor: col-resize;
    }

    th {
      font-weight: 400;
    }

    .visible-off {
      td,th {
        border-color: transparent !important;
      }
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      margin: 0;
      overflow: hidden;
      td,th {
        min-width: 1em;
        border: 1.5px solid;
        border-color: #ddd;
        padding: 0;
        vertical-align: top;
        text-align: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        p {
          padding: 3px 5px;
        }
      }

      .column-resize-handle {
        position: absolute;
        right: -2px;
        top: 0;
        bottom: 0;
        width: 4px;
        z-index: 20;
        background-color: #adf;
        pointer-events: none
      }

      .selectedCell {
        &:after {
          z-index: 2;
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(200,200,255,.4);
          pointer-events: none;
        }
      }
    }

    [indent="1"] {
      margin-left: 30px !important;
    }

    [indent="2"] {
      margin-left: 60px !important;
    }

    [indent="3"] {
      margin-left: 90px !important;
    }

    [indent="4"] {
      margin-left: 120px !important;
    }

    [indent="5"] {
      margin-left: 150px !important;
    }

    [indent="6"] {
      margin-left: 180px !important;
    }

    [indent="7"] {
      margin-left: 210px !important;
    }
  }
}

.hide-scrollbar::-webkit-scrollbar-thumb, .hide-scrollbar::-webkit-scrollbar {
  background: transparent !important;
}

.toolbar-btn {
  @apply flex-shrink-0 w-38 duration-50 text-app-color;
}

.toolbar-btn:disabled {
  opacity: 0.5;
}

.menububble {
  visibility: hidden;
  opacity: 0;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: 767px) {
    transform: translateX(-50%);
  }
}

.workspace .ProseMirror {
  padding-left: 20px;
  padding-bottom: 250px;
}

.ProseMirror {
  @apply flex-grow;
  height: 100%;
  width: 100%;
  outline: none;

  img.ProseMirror-separator {
    width: unset !important;
  }

  *::selection {
    background-color: rgb(var(--color-text-selection));
  }

  hr {
    @apply text-grey-550;
    margin: 10px 0;
  }

  mark {
    background-color: transparent;
  }

  blockquote {
    border-left: 3px solid #D8D8D8;
    padding-left: .8rem;
    font-style: italic;
  }

  .color-block {
    padding: 20px 30px;
    margin-top: 6px;
    border-radius: 12px;
    color: #323235;

    pre {
      padding: 0;
      margin: 0;
      background-color: transparent;
      border: none;
      font-family: inherit;
    }
  }

  a {
    cursor: pointer;
    @apply text-link-color;
  }
}

.ProseMirror {
  font-size: 1rem;

  u, em, strong, span, a {
    font-size: inherit;
  }

  h1, h2, h3, strong, b {
    font-weight: 600;
  }

  h1, h1 * {
    font-size: 1.875rem !important;
  }

  h1.title, h1.title .ProseMirror-widget ~ span {
    font-weight: 700;
    font-size: 2.3125rem !important;
    line-height: 1.3;
  }

  h2, h2 * {
    font-size: 1.5625rem !important;
  }

  h3, h3 * {
    font-size: 1.25rem !important;
  }

  .user-badge {
    &-icon {
      position: absolute;

      & span {
        font-size: 10px !important;
      }
    }

    &-name {
      padding-left: 27px;

      p {
        font-size: 13px !important;
        line-height: 1.4 !important;
      }
    }
  }

  .mention-icon {
    font-size: 13px !important;
    position: absolute;
  }

  .mention-title {
    font-size: 13px !important;
    padding: 1px 1px 1px 1.2rem;
  }
}

.editor__chat-base .ProseMirror {
  > p:last-child {
    margin-bottom: 0;
  }

  p.is-editor-empty-sub-title:nth-child(1)::before {
    content: 'Type your message...';
    float: left;
    color: var(--editor-placeholder-text-color-comments-field);
    pointer-events: none;
    height: 0;
  }

  @media screen and (max-width: 767px) {
  p.is-editor-empty-sub-title:nth-child(1)::before {
    content: 'Comment';
    }
  }
}

.drag-icon {
  cursor: url('../images/ungrabbed.svg');
  cursor: -webkit-grab;
  cursor:    -moz-grab;
  cursor:         grab;

  @apply text-grey-250 absolute left-0 px-2 rounded-3 hover:opacity-100
  hover:bg-sidebar hover:text-dark-300 flex items-center justify-center h-22;

  &:active {
    cursor: grabbing;
  }

  i {
    font-size: 15px !important;
  }
}

.editor__chat {
  @extend .editor__chat-base;

  * {
    font-size: 14px;
    line-height: 1.6;
  }
}

.editor__chat-minimized {
  @extend .editor__chat-base;

  * {
    font-size: 13.5px !important;
    line-height: 1.5;
  }
}

.subtask-editor{
    .ProseMirror {
      * {
        font-size: 14px;
        line-height: 1.4;
        width: max-content;
        overflow: auto;
      }
    }
}


.title-editor {
  .ProseMirror {
    * {
      font-size: 13px;
      line-height: 1.4;
    }

    > p:last-child {
      margin-bottom: 0;
    }

    p.is-empty:nth-child(1)::before {
      content: var(--title-editor-placeholder, 'What\'s the task?');
      float: left;
      color: var(--title-editor-placeholder-color, #ccc);
      pointer-events: none;
      height: 0;
    }
  }
}

.task-from-comment .ProseMirror  p.is-empty:nth-child(1)::before {
  content: 'Add title'
}

.task-board-title .ProseMirror {
  i {
    font-size: 18px;
    padding: 2px 0;
  }

  p {
    font-size: 24px;
    font-weight: 700;
  }
}

.task-board-subtitle .ProseMirror p {
  font-size: 15px;
}

.task-card-title-title .ProseMirror p {
  font-size: 13.5px;
  font-weight: 450;
  line-height: 1.40;
  @apply text-[#555] dark:text-app-color;

  @screen md {
    font-size: 13px;
  }
}

.task-card-title-subtitle .ProseMirror p {
  & > a {
    font-size: 12px;
  }

  font-size: 12px;
  word-break: break-word;
  line-height: 1.40;
  @apply text-[#aaa];
}

.task-list-title-subtitle .ProseMirror p {
  font-size: 14px;
  @apply text-[#444] dark:text-grey-275;
}

.task-list-subtitle .ProseMirror p {
  & > a {
    font-size: 12px;
  }

  font-size: 12px;
  @apply text-grey-275;
}

.multi-truncate-editor .ProseMirror {
  display: -webkit-box;
  -webkit-line-clamp: var(--mt-lines, 3);
  -webkit-box-orient: vertical;
  white-space: initial;
  overflow: hidden;
  word-break: break-word;
}

.multi-truncate-editor-week-planner .ProseMirror {
  display: -webkit-box;
  -webkit-line-clamp: var(--mt-lines, 3);
  -webkit-box-orient: vertical;
  white-space: initial;
  overflow: hidden;
  word-break: break-all;
  padding-right: 3px;
}

.multi-truncate-editor-task-card-subtitle .ProseMirror {
  display: -webkit-box;
  -webkit-line-clamp: var(--mt-lines, 3);
  -webkit-box-orient: vertical;
  white-space: initial;
  overflow: hidden;
  word-break: break-all;
}

.today-item-title .ProseMirror > p {
  height: 44px;
  font-size: 13.5px;
  line-height: 44px !important;
  @apply text-dark-100;
}

.today-new-item-title .ProseMirror > p {
  font-size: 19px;
  font-weight: 600;
  --title-editor-placeholder-color: #aaa;
  line-height: 28px !important;

  @screen md {
    font-size: 17px;
  }
}

.magic-bar-title .ProseMirror > p {
  font-size: 15px;
  font-weight: 400;
  --title-editor-placeholder-color: #aaa;
  line-height: 1.5
}

.today-new-item-subtitle .ProseMirror > p {
  font-size: 14px;
  --title-editor-placeholder-color: #aaa;
  line-height: 28px !important;
}

.task-list-title-subtitle .ProseMirror > p {
  font-size: 13.5px;
}

.task-event-title .ProseMirror > p {
  height: 18px;
  line-height: 18px !important;
  font-size: 11.5px !important;
  @apply text-[#444] dark:text-app-color;
}

.subtask-title .ProseMirror > p {
  height: 40px;
  line-height: 40px !important;
  font-size: 14px !important;
}

.editor__task .ProseMirror {
  * {
    font-size: 15px;
    line-height: 1.6;
  }

  > p:last-child {
    margin-bottom: 0;
  }

  p.is-editor-empty-sub-title:nth-child(1)::before {
    content: var(--editor-placeholder, 'Add description...');
    float: left;
    color: var(--editor-placeholder-text-color);
    pointer-events: none;
  }

  p.is-empty-sub-title:nth-child(2)::before,
  p.is-editor-empty-sub-title:nth-child(2)::before {
    content: '';
  }
}

.page-title .ProseMirror {
  padding-left: 20px;
  padding-bottom: 0px;

  i {
    font-size: 18px;
    padding: 2px 0;
  }

  p {
    font-size: 26px;
    font-weight: 700;
  }

  @screen md {
    p, .ProseMirror-widget ~ span {
      font-weight: 700;
      font-size: 2.3125rem;
      line-height: 1.3;
    }
  }
}

.cursor-pointer-important * {
 cursor: pointer !important;
}

.ProseMirror ul {
  padding-left: 40px;
  margin-left: -20px;
}
//bullet list item
.list-item::before {
  content: '';
}

ul.todo_list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-left: 0;

  li {
    word-break: break-word;

    &::before {
      content: '';
    }
  }
}

.todo_item, .list-item {
  padding-left: 20px;
  margin-left: -20px;
  margin-top: 1px;
  transition: order .5s;
}

.todo-checkbox {
  user-select: none;
  transition: background 0.4s;
}

.todo-checkbox[data-checked="true"] {
  position: relative;
  @apply bg-hover border-hover;

  &::after {
    content: "";
    @apply w-7 h-13 md:w-5 md:h-11 border-checkbox origin-center rotate-45 border-r-2 border-b-2 absolute left-5 md:left-4;
  }
}

.todo-content  {
  transition: all .3s;
  flex: 1;
  > p:last-of-type {
    margin-bottom: 0;
  }

  p {
    padding-left: 10px;
  }
}

.todo-content[data-checked="true"] > p {
  text-decoration: line-through;
  @apply text-grey-750;
}

.editor h1.is-empty::before,
.editor h2.is-empty::before,
.editor h3.is-empty::before {
  content: 'Your title';
  float: left;
  color: var(--editor-placeholder-text-color);
  pointer-events: none;
  height: 0;
}

.editor p.is-empty-sub-title:nth-child(1)::before,
.editor p.is-editor-empty-sub-title:nth-child(1)::before,
.editor p.is-empty-sub-title:nth-child(1)::before {
  content: 'An empty canvas, the start of all great ideas...';
  float: left;
  color: var(--editor-placeholder-text-color);
  pointer-events: none;
  height: 24px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
}

.editor h1.is-empty::before{
  content: 'Header 1';
}

.editor h2.is-empty::before {
  content: 'Header 2';
}

.editor h3.is-empty::before {
  content: 'Header 3';
}

pre {
  @apply bg-sidebar;
  padding: 12px;
  border: 0.5px solid #D8D8D8;
  border-radius: 4px;

  code {
    .hljs-comment,
    .hljs-quote {
      color: #999999;
    }
    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f2777a;
    }
    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #f99157;
    }
    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #99cc99;
    }
    .hljs-title,
    .hljs-section {
      color: #ffcc66;
    }
    .hljs-keyword,
    .hljs-selector-tag {
      color: #6699cc;
    }
    .hljs-emphasis {
      font-style: italic;
    }
    .hljs-strong {
      font-weight: 700;
    }
  }
}

.mention, .replaced-mention {
  @apply text-app-color leading-tight inline-flex items-center py-3 px-6 rounded-4 first:ml-0 last:mr-0 m-5 flex-shrink-0;
  vertical-align: middle;
}

.title-editor .mention, .title-editor .replaced-mention {
  @apply my-2 ml-0;
}

.task-board-title.title-editor .mention{
  margin-top: 0 !important;
  margin-bottom: 0;
  height: 29px;

  *:not(.initials) {
    font-size: 15px !important
  }
}

.task-event-title.title-editor .mention {
  max-height: 18px;
  margin-top: 0 !important;
  margin-bottom: 0;

  *:not(.initials) {
    font-size: 12px !important
  }
}

.today-item-title .mention {
  max-height: 28px;
  margin-top: 0;
  margin-bottom: 0;

  *:not(.initials) {
    font-size: 13px !important
  }
}

.localLink {
  @apply text-link-color underline;
}

.tippy-box {
  max-height: 270px;
  min-width: 200px;
  overflow-y: auto;
  border-radius: 10px;
  outline: none;
  @apply bg-primary shadow;

  &:focus, &:active {
    outline: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.comment {
  @apply bg-comment;
  border-bottom: 4px solid #EDFF37;
  transition: all .3s ease-in-out;

  &.highlight {
    background-color: #cace999e;
  }

  &:hover {
    cursor: pointer;
    border-bottom: 4px solid #FFEB37;

    & + span span[contentid] span {
      opacity: 1;
    }
  }
}

.comment-icon {
  position: absolute;
  right: 0;
  font-size: 1rem !important;

  &-counter {
    font-size: 14px !important;
  }
}

.tableWrapper {
  overflow-x: auto;
}

.dragged{
  @media (max-width: 767px) {
    @apply shadow;
    transform: scale(1.05);
    padding-left: 5px !important;
    border-radius: 4px;
  }
}

.font-normal-important * {
  font-weight: 400 !important;
}

span[type='gif'] img {
  vertical-align: bottom !important;
}

.chat span[type='gif'] img {
  max-width: 100% !important;
}

.collaboration-cursor__caret {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid #0D0D0D;
  word-break: normal;
  pointer-events: none;

  &.ProseMirror-widget .collaboration-cursor {
    &__label {
      @apply text-app-color bg-sidebar shadow-dropdown;
      display: flex;
      align-items: center;
      position: absolute;
      top: -1.4em;
      left: -1px;
      font-size: 14px !important;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      user-select: none;
      padding: 0.15rem 0.4rem;
      border-radius: 5px 5px 5px 0;
      white-space: nowrap;

      &-gradient {
        @apply flex w-21 rounded-full mr-7 flex-shrink-0 h-21;
      }

      &-initials {
        @apply leading-none m-auto uppercase font-semibold text-dark-100 rounded-full;
        font-size: 10px !important;
      }
    }

    &__avatar {
      @apply w-full h-full m-auto rounded-full;
    }
  }
}

.ProseMirror-yjs-selection {
  background-color: rgb(var(--color-selection)) !important;
}

.mention-user,
.mention-project,
.mention-tasks,
.mention-discussions,
.mention-attachment,
.mention-chat,
.mention-book,
.mention-feeds {
  margin-top: 30px;
  position: relative;

  &::after {
    content: "Team members";
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: -33px;
    left: 0;
    @apply p-10;
  }
}

.mention-book::after {
  content: 'Spaces'
}

.mention-project::after {
  content: "Notes";
}

.mention-tasks::after {
  content: "Tasks";
}

.mention-attachment::after {
  content: "Files";
}

.mention-chat::after {
  content: "Chat"
}

.mention-project ~ .mention-project,
.mention-tasks ~ .mention-tasks,
.mention-discussions ~ .mention-discussions,
.mention-attachment ~ .mention-attachment,
.mention-book ~ .mention-book,
.mention-chat ~ .mention-chat,
.mention-user ~ .mention-user,
.mention-feeds ~ .mention-feeds {
  margin-top: 0;

  &::after {
    content: '';
  }
}

.mention-user ~ .mention-user,
.mention-project ~ .mention-project,
.mention-tasks ~ .mention-tasks,
.mention-attachment ~ .mention-attachment,
.chat-message {
  p {
    @apply text-[14.5px];
  }

  a {
    @apply break-all text-brand;
  }

  & img {
    max-width: 300px;
  }
}

.search-item::after {
  @apply text-dark-100 px-0;
}
