// regular
@font-face {
  font-family: 'Archia';
  src: url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Archia/archia-bold-webfont.eot');
  src: url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Archia/archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Archia/archia-regular-webfont.woff2') format('woff2'),
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Archia/archia-regular-webfont.woff') format('woff'),
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Archia/archia-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// bold
@font-face {
  font-family: 'Archia';
  src: url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Archia/archia-bold-webfont.eot');
  src: url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Archia/archia-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Archia/archia-bold-webfont.woff2') format('woff2'),
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Archia/archia-bold-webfont.woff') format('woff'),
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Archia/archia-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}