@font-face {
  font-family: 'Geomanist';
  font-style: normal;
  font-weight: 400;
  src: url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-regular.woff') format('woff'), /* Modern Browsers */
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-regular.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Geomanist';
  font-style: normal;
  font-weight: 500;
  src: url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-medium.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-medium.woff') format('woff'), /* Modern Browsers */
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-medium.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-medium.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Geomanist';
  font-style: normal;
  font-weight: bold;
  src: url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-bold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-bold.woff') format('woff'), /* Modern Browsers */
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://helloivy-font.s3.eu-central-1.amazonaws.com/Geomanist/geomanist-bold.svg') format('svg'); /* Legacy iOS */
}
